<%- include('../partial/header') -%>
<link rel="stylesheet" href="/css/products/create.css">

<div class="main-content">

    <!-- You only need this form and the form-basic.css -->

    <form class="form-basic" method="post" action="#">

        <div class="form-title-row">
            <h1>Online Payment</h1>
        </div>

        <div class="form-row">
            <label>
                <span>Name of Reciver:</span>
                <input type="text" value="<%= receiver.name %>" name="name" readonly>
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Payment amount:</span>
                <input type="number" value="<%= amt %>" name="payAmount" readonly>
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>Email:</span>
                <input type="email" value="<%= receiver.email %>" readonly name="payEmail">
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>Phone:</span>
                <input type="text" value="<%= receiver.phone %>" readonly  name="payPhone">
            </label>
        </div>

        <div class="form-row">
            <button type="submit">Pay now</button>
        </div>

    </form>

</div>

<%- include('../partial/footer') -%>