<%- include('./partial/header') -%>
<link rel="stylesheet" href="css/home/home.css">

  <!-- Hero -->
  <img src="img/home/farmerHero.png" alt="" class="hero-img" />

  <div class="hero-content">
    <h2><span class="the"></span> THE</h2>
    <h1>
      <span>FARMERS</span>
      <span>PORTAL</span>
    </h1>
    <a class="btn" href="#featured">explore now</a>
  </div>
  </header>

  <!--Latest -->


  <section id="featured" class="section featured">
    <div class="title">
      <h1>Latest Products</h1>
    </div>


    <div class="product-center container">
      <% for(let i=0;i<allPro.length && i<4 ;i++){ %>
        <div class="product">
          <div class="product-header">
            <% if(allPro[i].imgUrl.length==0){ %>
              <img src="/img/account/logo.jpeg" alt="logo">
          <% }else{ %>
            <img src="<%= allPro[i].imgUrl[0] %>">
          <% } %>

          </div>
          <div class="product-footer">
            <a href="/product/details/<%= allPro[i]._id %>">
              <h3><%= allPro[i].name %></h3>
            </a>
            <h4 class="price"><%= allPro[i].price %></h4>
          </div>
        </div>
        <% } %>

    </div>
  </section>

  <!-- Testimonials -->
  <section id="thought" class="section">
    <div class="testimonial-center container">
      <div class="testimonial">
        <span>&ldquo;</span>
        <p>
        Jai Jawaan Jai Kisan
        </p>
        <div class="rating">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
        </div>

        <div class="img-cover">
          <img src="img/account/logo.jpegg" alt="" />
        </div>
        <h4>Lal Bahadur Shastri</h4>
      </div>
      <div class="testimonial">
        <span>&ldquo;</span>
        <p>
          Once in life you need a doctor, a lawyer, a policeman and a preacher, but every day, three times a day, you need a farmer.
        </p>
        <div class="rating">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
        </div>
        <div class="img-cover">
          <img src="img/account/logo.jpegg" alt="" />
        </div>
        <h4>Unknown</h4>
      </div>
      <div class="testimonial">
        <span>&ldquo;</span>
        <p>
          A good farmer is nothing more nor less than a handy mans with sense of humans
        </p>
        <div class="rating">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bx-star"></i>
        </div>
        <div class="img-cover">
          <img src="img/account/logo.jpegg" alt="" />
        </div>
        <h4>E.B. White</h4>
      </div>
    </div>
  </section>


  <%- include('./partial/footer') -%>