<%- include('../partial/header') -%>

    <link rel="stylesheet" href="css/user/profile.css">
    <div class="container">
        <div class="main-body">

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">

                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                    class="rounded-circle" width="150">
                                <div class="mt-3">

                                    <input type="file" name="userImage">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <form class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" name="name" placeholder="<%= currUser.name %>">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Role</p>
                                </div>
                                <div class="col-sm-9 text-secondary">


                                    <select name="role">
                                        <option>Consumer</option>
                                        <option selected>Farmer</option>

                                    </select>

                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Mobile</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="tel" name="phone" placeholder="<%= currUser.phone %>" name="phone"
                                        placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}>

                                </div>
                            </div>
                            <hr>
                            <div class=" row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Local Address</p>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" name="local" placeholder="<%= currUser.location %>">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Districts</p>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" name="local" placeholder="<%= currUser.location %>">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">State</p>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" name="local" placeholder="<%= currUser.location %>">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">PIN</p>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="number" name="local" placeholder="<%= currUser.location %>">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Oraganization</p>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" name="local" placeholder="<%= currUser.location %>">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit">Save</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">

                                        <a class="btn btn-danger mohit" href="/profile">cancel</a>
                                    </div>
                                </div>
                                <hr>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <%- include('../partial/footer') -%>