<%- include('../partial/header') -%>

    <link rel="stylesheet" href="css/user/profile.css">
    <div class="container">
        <div class="main-body">

            <!-- /Breadcrumb -->

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://thumbs.dreamstime.com/z/indian-farmer-cartoon-character-vector-ceremony-cleaned-clipart-consume-dance-dancer-day-dip-dress-each-early-eventually-excellent-164417070.jpg"
                                    alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h2>
                                        <%= currUser.name %>
                                    </h2>

                                        <%- include('../partial/massages') -%>

                                        <% if(currUser.role=="Farmer" ){ %>
                                            <a href="/products/myProducts/<%= currUser.id %>">
                                                <button class="btn btn-primary">My Products</button>
                                            </a>
                                            <hr>
                                            <a href="/products/create">
                                                <button class="btn btn-primary">Create Product</button>
                                            </a>

                                            <% }else{ %>
                                                <a href="/products/cart">
                                                    <button class="btn btn-primary">My cart</button>
                                                </a>
                                                <% } %>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= currUser.name %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= currUser.email %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Role</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= currUser.role %>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Mobile</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= currUser.phone %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Local Address</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= currUser.location.local %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Districts</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= currUser.location.district %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">State</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= currUser.location.state %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">PIN</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= currUser.location.pin %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Oraganization</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= currUser.org %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-info" target="__blank" href="profile/edit">Edit</a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">

                                    <a class="btn btn-danger mohit" href="/logOut">Log Out</a>
                                </div>
                            </div>

                            <hr>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <%- include('../partial/footer') -%>