<%- include('../partial/header') -%>

    <link rel="stylesheet" href="css/user/profile.css">
    <div class="container">
        <div class="main-body">

            <!-- /Breadcrumb -->

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://thumbs.dreamstime.com/z/indian-farmer-cartoon-character-vector-ceremony-cleaned-clipart-consume-dance-dancer-day-dip-dress-each-early-eventually-excellent-164417070.jpg"
                                    alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h2>
                                        <%= currUser.name %>
                                    </h2>

                                    <div class="input-group mb-3">
                                        <%- include('../partial/massages.ejs') -%>

                                    </div>


                                        <% if(currUser.role=="Farmer" ){ %>
                                            <a href="/notification/<%= currUser._id %>">
                                                <button class="btn btn-primary">Notifications</button>
                                            </a>
                                            <hr>

                                            <a href="/products/myProducts/<%= currUser.id %>">
                                                <button class="btn btn-primary">My Products</button>
                                            </a>
                                            <hr>
                                            <a href="/products/create">
                                                <button class="btn btn-primary">Create Product</button>
                                            </a>

                                            <% }else{ %>
                                                <a href="/notification/<%= currUser._id %>">
                                                    <button class="btn btn-primary">Notifications</button>
                                                </a>
                                                <hr>

                                                <a href="/products/wishlist/<%= currUser._id %>">
                                                    <button class="btn btn-primary">Wishlist</button>
                                                </a>
                                                <hr>
                                                <a href="/myCart/<%= currUser._id %>">
                                                    <button class="btn btn-primary">My cart</button>
                                                </a>
                                                <% } %>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= currUser.name %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= currUser.email %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Role</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= currUser.role %>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Mobile</p>
                                </div>
                                <div class="col-sm-9 text-secondary">

                                    <% if(currUser.phoneState){ %>
                                        <%= currUser.phone %> &Tab;
                                        <span style="color: green; font-weight: bold;">Verified</span>
                                    <% }else{ %>
                                        <form action="/verifyPhone" method="post">

                                        <input type="text" placeholder="0123456789" value="<%= currUser.phone %>"  name="phone" pattern="[0-9]{10}" required>
                                        <button type="submit" style="background-color: red;"> Send OTP</button>
                                    </form>
                                    <% } %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Aadhar Number</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= currUser.aadharNum %> &Tab;
                                    <% if(currUser.aadharState){ %>
                                        <span style="color: green; font-weight: bold;">Verified</span>
                                    <% }else{ %>
                                        <form action="/verifyAadhar/<%= currUser._id %>" method="post">

                                        <input type="text" placeholder="012345678901"  name="aadhar" pattern="[0-9]{12}" required>
                                        <button type="submit" style="background-color: red;"> verify</button>
                                    </form>
                                    <% } %>

                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Local Address</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= currUser.location.local %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Districts</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= currUser.location.district %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">State</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= currUser.location.state %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">PIN</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= currUser.location.pin %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Oraganization</p>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= currUser.org %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-info"
                                    href="profile/edit">Edit</a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-info"
                                    href="/password/change">Change Password</a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">

                                    <a class="btn btn-danger mohit" href="/logOut">Log Out</a>
                                </div>
                            </div>

                            <hr>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <%- include('../partial/footer') -%>