<%- include('../partial/header') -%>
<link rel="stylesheet" href="/css/products/all.css">
<!-- <link rel="stylesheet" href="/css/home/home.css"> -->



    <!-- All Products -->
    <section id="featured" class="section featured">
        <div class="title">
          <h1>My Products</h1>
        </div>

        <div class="product-center container">
          <% for(let i=0;i<pro.length;i++){ %>

            <div class="product">
              <div class="product-header">
                  <% if(pro[i].imgUrl.length==0){ %>
                      <img src="/img/account/logo.jpeg" alt="logo">
                  <% }else{ %>
                    <img src="<%= pro[i].imgUrl[0] %>">
                  <% } %>


                <ul class="icons">
                  <span><i class="bx bx-heart"></i></span>
                </ul>
              </div>
              <div class="product-footer">
                <a href="/product/details/<%= pro[i]._id %>">
                  <h3><%= pro[i].name %></h3>
                </a>
                <h4 class="price">₹ <%= pro[i].price %></h4>
              </div>
            </div>

            <% } %>

        </div>
      </section>

    <%- include('../partial/footer') -%>